In [9]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

#Make two series
ser1 = Series([0, 1, 2], index=['Q', 'X', 'Y'])
ser2 = Series([4, 5, 6], index=['X', 'Y', 'Z'])

#Concat to make a dframe
dframe = pd.concat([ser1, ser2], keys=['Alpha', 'Beta'])

dframe

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: int64

In [5]:
# Unstack resulting DataFrame
dframe.unstack()

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [23]:
#create a dataframe
df = DataFrame(np.arange(8).reshape((2,4)),
               index=pd.Index(['LA','MIA'], name='City'),
               columns = pd.Index(['A','B','C','D'], name='Letters'))

df

Letters  A  B  C  D
City
LA       0  1  2  3
MIA      4  5  6  7

In [13]:
df.stack()

City  Letters
LA    A          0
      B          1
      C          2
      D          3
MIA   A          4
      B          5
      C          6
      D          7
dtype: int32

In [30]:
#unstack by a chosen level
df.unstack(0)

Letters  City
A        LA      0
         MIA     4
B        LA      1
         MIA     5
C        LA      2
         MIA     6
D        LA      3
         MIA     7
dtype: int32

In [25]:
df.unstack('City')

Letters  City
A        LA      0
         MIA     4
B        LA      1
         MIA     5
C        LA      2
         MIA     6
D        LA      3
         MIA     7
dtype: int32