In [1]:
#numpy and pandas

import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [4]:
#to create a series from a list

s1 = Series([1,2,3,4,5])

s1
#on the left is the index and right values

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
#so you can actually list values like this
s1.values

array([1, 2, 3, 4, 5], dtype=int64)

In [6]:
#and index like this
s1.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
#can you create a custom index? yes like this

s2 = Series([20,25,26,12],['apple','orange','banana','grape'])
s2

apple     20
orange    25
banana    26
grape     12
dtype: int64

In [8]:
#to access the value via index
s2['orange']

25

In [9]:
#show values using operation
s2[s2>20]

orange    25
banana    26
dtype: int64

In [11]:
#since Series looks like a dictionary we can create dictionary from series
dict_from_series = s2.to_dict()
dict_from_series

{'apple': 20, 'orange': 25, 'banana': 26, 'grape': 12}

In [13]:
#and vice versa
series_from_dict = Series(dict_from_series)
series_from_dict

#and we get the orginal back

apple     20
orange    25
banana    26
grape     12
dtype: int64

In [ ]:
#notes important
pd.isnull(s1) #checks for nulls in the series (boolean)
pd.notnull(s1) #returns not nulls in the series (boolean)

s2.name = "Fruit Market" #gives a name for the Series
s2.index.name = "Fruits" #gives the index column a name